
  <div class="control-group"><%= f.label :name, :class => "control-label"%>
  <div class="controls"><%= f.text_field :name, :autofocus => true, :placeholder => "Menu Name" %></div> </div>
  <div class="control-group"><%= f.label :URL, :class => "control-label"%>
  <div class="controls"><%= f.text_field :url, :autofocus => true, :placeholder => "URL" %></div> </div>
  <div class="control-group"><%= f.label :description, :class => "control-label"%>
  <div class="controls"><%= f.text_area :description, :autofocus => true, :placeholder => "Description" %></div> </div>
  
  
  <div ><%= f.submit "save", :class=>"btn"%></div>
 
