<section class="sliceTop"> 
                    <div class="container">
                        <div class="row">
                            <div class="span12 drop-shadow lifted">
								<div class="topQuote">
									<div style="float: left">
									<h1>
									<strong>Languages</strong>															
									</h1></div>	
                                
                                </div>
                                <div style="float: right; padding: 10px"><a class="btn btn-info" href="languages/new"><i class="icon-plus"> </i>Add Language</a> </div>
                                <div class="topBox clearfix">
                                    <div class="bigIconsColumnsWrapper">
										<article style="margin-left: auto;margin-right: auto;position: relative; padding-left: 30%;padding-right: 30%">
											<table class="table table-striped table-bordered">
												<thead>
													<th> S.No </th>
													<th> Name </th>
													<th> Short Name</th>
													<th> Code</th>
													<th> Functions </th>
												</thead>
												<tbody>
													<% if !@languages.empty?%>
													<% #count = 0%>
													<% @languages.each do |lang|%>	
														<tr>
															<td><%= @count +1%></td>
															<td><%= lang.name%></td>
															<td><%= lang.short_name%></td>
															<td><%= lang.code%></td>
															<td><%= link_to "Show", language_path(lang), :class => "firstLevel"%> |
																<%= link_to raw("<i class=\"icon-edits\"> </i>Edit"), edit_language_path(lang), :class => "firstLevel"%> | 
																<%= link_to raw("<i =\"icon-trash\"> </i>Delete"), language_path(lang), :method => :delete , :confirm => "Are You Sure?", :class => "firstLevel"%>
																</td>
																
															  </tr>
															  <%@count +=1 %>
													<%end%>
													<%else%>
													<tr>
														<td colspan="5"> No Records</td>
													</tr>
													<% end %>
												</tbody>
												</table>
												<div class="apple_pagination">
    <div class="page_info">
      <%= page_entries_info @languages %>
    </div>
    <%= will_paginate @languages, :container => false %>
  </div>
                                        </article>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section> 