<section class="sliceTop"> 
                    <div class="container">
                        <div class="row">
                            <div class="span12 drop-shadow lifted">
								<div class="topQuote">
									<div style="float: left">
									<h1>
									<strong>Language : <%= @language.name%></strong>															
									</h1></div>	                               
                                </div>                                
                                <div class="topBox clearfix">                               
                                    <div class="bigIconsColumnsWrapper">
                                    	<article style="margin-left: auto;margin-right: auto;position: relative; padding-left: 30%; padding-right: 30%">																							
												<div>
												<div class="pull-left" style="text-align: left">
													<strong>Name: </strong><br/>										
													<strong>Short Name: </strong><br/>
													<strong>Code: </strong><br/>
													</div>
													<div class="pull-right" style="text-align: left">
													<%= @language.name%><br/> 
													<%= @language.short_name%><br/>	
													<%= @language.code%><br/>	
													</div><br/><br/> </div>
													<br/><br/>												
												<ul class="nav nav-tabs">
												  <li class="active"><a href="#trans">Available Translations</a>										  	
												  </li>
												</ul>
												<div class="tab-content">
												  <div class="tab-pane active" id="trans">
												  	<div style="float: right; padding: 2px"><a data-toggle="modal" class="btn btn-info" href="/languages/<%= @language.id%>/translations/new" ><i class="icon-plus"> </i>Add Translation</a> 
														</div>
													</div>
													<table class="table table-striped table-bordered" id="trans_table">
												<thead>
													<th> S.No </th>
													<th> Translation Language </th>
													<th> Functions </th>
												</thead>
												<tbody>
													<%if !@language.translations.blank?  %>
													<% count = 0%>
													<% @language.translations.each do |trans|%>
													<%= render :partial => "translations/translate", :locals => {:trans => trans}%>
													<% end %>
													<% else%>
													
													<% end%>
												</tbody>
												</table>
												  	
													  

												</div>

												
                                        </article>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section> 
                
      
	  	